language=ru
locale=ru-RU
systemName=cистема

dbHost=localhost
dbName=iris
dbUsername=root
dbPassword=root

#################################
# Audio section
#################################

recordStreams=3
recordDuration=5

# Total of connected microphones
microphones=1

# Microphone name in system (unlimited)
microphoneDevice2=hw2,0
microphoneDevice3=hw3,0

#################################
# REST section
#################################

httpPort=8085
httpHost=localhost
httpUser=admin
httpPassword=changeme

#################################
# Voice synth section
#################################

# Silence mode
silence=0

# Voice engine (google, voicerss)
ttsEngine=google

# VoiceRSS API (can be obtain for free)
voicerssAPI=

#################################
# Zwave section
#################################

zwaveEnabled=1

# Controller port
zwavePort=/dev/ttyUSB0

# Set "true" if you need zwave debug on screen
zwaveDebug=false

# Path for open-zwave "conf" directory
openzwaveCfgPath=./conf/zwave-conf

#################################
# 1-wire section
#################################

onewireEnabled=0

