#################################
# General section
#################################

AMQPhost=localhost
AMQPport=5672
AMQPuser=iris
AMQPpasswd=test

language=ru
locale=ru-RU
systemName=cистема

dbHost=localhost
dbName=iris
dbUsername=root
dbPassword=root

# This generate and recreate SQL tables (with DROP!)
ddlGenerate=true
ddlRun=true

#################################
# Voice synth section
#################################

# Silence mode
silence=0

# Voice engine (google)
ttsEngine=google

#################################
# Zwave section
#################################

zwaveEnabled=1

# Controller port
zwavePort=/dev/ttyUSB0

# Set "true" if you need zwave debug on screen
zwaveDebug=false

# Path for open-zwave "conf" directory
openzwaveCfgPath=./conf/zwave-conf

#################################
# NooLite section
#################################

nooliteEnabled=1

# Is Noolite sender dongle present?
nooliteTXPresent=1

# Is Noolite receiver dongle present?
nooliteRXPresent=1

##################################
# AI
##################################

witaiEnabled=1
witaiKey=6AVGJKDP4EEAAS5IKNCxxxxxxxxx
