#################################
# General section
#################################

AMQPhost=localhost
AMQPport=61616
AMQPuseVMconnection=1

language=ru
locale=ru-RU
systemName=cистема

dbHost=localhost
dbName=iris
dbUsername=root
dbPassword=root

#################################
# Audio section
#################################

# Capture sound on mics, connected to server
recordOnServer=0

# Capture method. May be internal (pure java) or external (using sox from rec)
recordMethod=intenal

# Internal method settings
# Capture levels on mics, connected to server
# Set logs to debug, to see your levels
startThreshold=9
stopThreshold=5

# External method settings
recordStreams=4
microphones=1

#################################
# Voice synth section
#################################

# Silence mode
silence=0

# Voice engine (google)
ttsEngine=google

#################################
# Zwave section
#################################

zwaveEnabled=1

# Controller port
zwavePort=/dev/ttyUSB0

# Set "true" if you need zwave debug on screen
zwaveDebug=false

# Path for open-zwave "conf" directory
openzwaveCfgPath=./conf/zwave-conf

#################################
# NooLite section
#################################

nooliteEnabled=1

# Is Noolite sender dongle present?
nooliteTXPresent=1

# Is Noolite receiver dongle present?
nooliteRXPresent=1

##################################
# AI
##################################

witaiEnabled=1
witaiKey=6AVGJKDP4EEAAS5IKNCxxxxxxxxx