<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>IRIS-X - Система умный дом</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IRIS-X Smart Home">
    <meta name="author" content="Nikolay Viguro">
    <meta itemprop="image" content="/static/ico/favicon.ico">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
        padding-top: 60px;
        padding-bottom: 40px;
        }
        .sidebar-nav {
        padding: 9px 0;
        }
    </style>
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/pnot.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/pnot.js"></script>

    <script type="text/javascript">
        $(document).ready(function()
        {

        var toggle = false;
        $.pnotify.defaults.history = false;

        function notifyAlert(type, title, message){
        $.pnotify({
        title: title,
        text: message,
        type: type,
        styling: 'bootstrap',
        });
        }


        $('#submit').click(function()
        {
        $('#formSpeak').bind('submit',Foo());
        });

        function Foo () {

        if(toggle)
        {
        exit;
        }

        $('#submit').addClass("disabled");
        $('#submit').text("Отправляется");
        $('#submit').removeClass("btn-success");
        $('#submit').addClass("btn-danger");

        toggle = true;

        $.ajax({
        url: '/control/speak',
        type: 'POST',
        data: $('#formSpeak').serialize(),
        dataType: 'html',
        success: function(html){
        $('#submit').removeClass("disabled");
        $('#submit').removeClass("btn-danger");
        $('#submit').addClass("btn-success");
        $('#submit').text("Отослать");
        notifyAlert('success', 'Готово', 'Отправлено и озвучено :)');
        toggle = false;
        },
        error: function(){
        $('#submit').removeClass("disabled");
        $('#submit').removeClass("btn-danger");
        $('#submit').addClass("btn-success");
        $('#submit').text("Отослать");
        notifyAlert('error', 'Ошибка', 'Что-то пошло не так :(');


        toggle = false;
        }
        });
        }
        });

        function NavigationOut ()
        {
        $.get('/control/video?shutdown=all');
        }

    </script>

</head>

<body onUnLoad="return NavigationOut()">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">IRIS-X</a>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Версия: <b>$version</b>
                </p>
                <ul class="nav">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/cams.html" class="active">Камеры</a></li>
                    <li><a href="/schedule.html">Расписание</a></li>
                    <li><a href="/devices.html">Устройства</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Камеры</li>
                    <li class="active"><a href="#">Обзор</a></li>
                    <li><a href="#">Состояние устройств</a></li>
                    <li><a href="#">Логи</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">

            <div class="row-fluid">

                <p>

                <form id="formSpeak" class="well form-inline">
                    <input id="words" type="text" class="input-xxlarge" name="words"
                           placeholder="Введите фразу, которую надо произнести">
                    <a href="javascript:void(0);" class="btn btn-success" id="submit">Отослать</a>
                </form>

                <div id="alert-area"></div>

                </p>

                <div class="span4">
                    <h2>Камера 1</h2>

                    <p>
                        <applet code="com.charliemouse.cambozola.Viewer" archive="/static/js/cambozola.jar"
                                width="400"
                                height="320">
                            <param name="url" value="/control/video?cam=20">
                        </applet>
                    </p>
                    <p>
                        <applet code="ru.phsystems.irisx.Play" archive="/static/js/player.jar"
                                width="35"
                                height="40">
                            <param name="url" value="/control/audio?cam=20">
                            <param name="auth" value="$auth">
                        </applet>
                    </p>
                </div>

                <div class="span4">
                    <h2>Камера 2</h2>

                    <p>
                        <applet code="com.charliemouse.cambozola.Viewer" archive="/static/js/cambozola.jar"
                                width="400"
                                height="320">
                            <param name="url" value="/control/video?cam=26">
                        </applet>
                    </p>
                    <p>
                        <applet code="ru.phsystems.irisx.Play" archive="/static/js/player.jar"
                                width="35"
                                height="40">
                            <param name="url" value="/control/audio?cam=26">
                            <param name="auth" value="$auth">
                        </applet>
                    </p>
                </div>


            </div>

            <div class="span4">
                <h2>Камера 3</h2>

                <p>
                    <applet code="com.charliemouse.cambozola.Viewer" archive="/static/js/cambozola.jar"
                            width="400"
                            height="320">
                        <param name="url" value="/control/video?cam=21">
                    </applet>
                </p>
                <p>
                    <applet code="ru.phsystems.irisx.Play" archive="/static/js/player.jar"
                            width="35"
                            height="40">
                        <param name="url" value="/control/audio?cam=21">
                        <param name="auth" value="$auth">
                    </applet>
                </p>
            </div>

            <!--/span-->
        </div>
        <!--/row-->

        <hr>

    </div>
    <!--/.fluid-container-->

</body>
</html>
