<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>IRIS-X - Система умный дом</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IRIS-X Smart Home">
    <meta name="author" content="Nikolay Viguro">
    <meta itemprop="image" content="/static/ico/favicon.ico">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
    <style type="text/css">
        body {
        padding-top: 60px;
        padding-bottom: 40px;
        }

        .table tbody tr:hover td, .table tbody tr:hover th {
        background-color: #FAFFC1;
        }

        .sidebar-nav {
        padding: 9px 0;
        }
    </style>
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/pnot.css" rel="stylesheet">
    <link href="/static/css/jquery.dialog2.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.dialog2.js"></script>
    <script src="/static/js/pnot.js"></script>

    <script type="text/javascript">
        $(document).ready(function()
        {

        var toggle = false;
        $.pnotify.defaults.history = false;

        function notifyAlert(type, title, message){
        $.pnotify({
        title: title,
        text: message,
        type: type,
        styling: 'bootstrap',
        });
        }

        // Table row clickable
        //////////////////////////////

        $('#devices > tbody > tr').click(function() {


        var num = $(this).find('td').eq(1).html();
        var val = $(this).find('td').eq(4).html().replace(/<\/?[^>]+>/g, '');

        if(val != "не применимо")
        {
        $('#num').val(num);
        $('#numModal').html(num);
        $("#slider-range-max").slider('value',val);
        $("#amount").val(val);

        $("#modal").dialog2("open");
        }
        });

        $("#modal").dialog2({
        showCloseHandle: false,
        removeOnClose: false,
        autoOpen: false,
        closeOnEscape: false,
        closeOnOverlayClick: false
        });

        // Slider
        //////////////////////////////

        $( "#slider-range-max" ).slider
        ({
        range: "max",
        min: 0,
        max: 99,
        value: 0,
        slide: function( event, ui ) {
        $( "#amount" ).html( ui.value );
        $( "#amountInput" ).val( ui.value );
        }
        });
        $( "#amount" ).html( $( "#slider-range-max" ).slider( "value" ) );

        //////////////////////////////

        // Autoreload
        //////////////////////////////

        function reloadValues()
        {
        $.ajax({
        url: "/control/device/values",
        method: 'GET',
        cache: false,
        dataType: 'json',
        success: function(data)
        {
        $.each(data, function(index, element)
        {
        var val = element.Value;
        var kSpan = "#span"+element.Node;
        if(val != "NONE")
        {
        $(kSpan).html(val);
        }
        });
        }
        });
        }

        reloadValues();
        setInterval(reloadValues,1000);

        /////////////////////////////

        $('#submit').click(function()
        {
        $('#formDevice').bind('submit',Foo());
        });


        function Foo () {

        if(toggle)
        {
        exit;
        }

        $('#submit').addClass("disabled");
        $('#submit').text("Отправляется");
        $('#submit').removeClass("btn-success");
        $('#submit').addClass("btn-danger");

        toggle = true;

        var key = document.getElementById('num').value;
        var keyType = "#type"+key;
        var keySpan = "#span"+key;
        var type = $(keyType).html();
        var data_save = $('#formDevice').serializeArray();
        data_save.push({ name: "type", value: type });

        $.ajax({
        url: '/control/device',
        type: 'POST',
        data: data_save,
        dataType: 'html',
        success: function(html){
        $('#submit').removeClass("disabled");
        $('#submit').removeClass("btn-danger");
        $('#submit').addClass("btn-success");
        $('#submit').text("Отослать");
        notifyAlert('success', 'Готово', 'Значение выставлено!');
        toggle = false;
        },
        error: function(){
        $('#submit').removeClass("disabled");
        $('#submit').removeClass("btn-danger");
        $('#submit').addClass("btn-success");
        $('#submit').text("Отослать");
        notifyAlert('error', 'Ошибка', 'Что-то пошло не так :(');


        toggle = false;
        }
        });
        }
        });

    </script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">IRIS-X</a>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Версия: <b>$version</b>
                </p>
                <ul class="nav">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/cams.html" class="active">Камеры</a></li>
                    <li><a href="/schedule.html">Расписание</a></li>
                    <li><a href="">Устройства</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Устройства</li>
                    <li class="active"><a href="#">Общие сведения</a></li>
                    <li><a href="#">Настройка</a></li>
                    <li><a href="#">Логи</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <div class="row-fluid">

                <h2>Устройства</h2>

                <div class="span9">
                    <table id="devices" class="table table-striped table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Номер в сети</th>
                            <th>Номер зоны</th>
                            <th>Тип устройства</th>
                            <th>Текущее значение</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>

                        #foreach( $device in $devicesList )
                        <tr>
                            <td>$device.getName()</td>
                            <td class="center">$device.getNode()</td>
                            <td class="center">$device.getZone()</td>
                            <td class="center">
                                <div id="type$device.getNode()">$device.getType()</div>
                            </td>
                            #if( $device.getValue() == -1 )
                            <td class="center"><span id="span$device.getNode()" class="badge">не применимо</span></td>
                            #else
                            <td class="center"><span id="span$device.getNode()" class="label label-warning">$device.getValue()</span>
                            </td>
                            #end
                            <td class="center">
                                <span class="label label-success">$device.getStatus()</span>
                            </td>
                        </tr>
                        #end


                        </tbody>
                    </table>

                </div>

            </div>
            <div class="span6">

                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    Для изменения значений, нажмите на строку с уcтройством.
                </div>

            </div>

            <!--/span-->
        </div>
        <!--/row-->

        <hr>

        <div id="modal" style="display: none">

            <h1>Устройство <span id="numModal"></span></h1>

            <table width="100%">

                <form id="formDevice" class="well form-inline">
                    <input id="num" type="hidden" name="num" value="3">
                    <input id="amountInput" type="hidden" name="value" value="0">

                    <tr>
                        <td>
                            Значение: <b><span id="amount"></span></b>

                            <div>&nbsp;</div>
                            <div id="slider-range-max"></div>
                        </td>
                    </tr>

                </form>

            </table>

            <div class="form-actions">
                <button class="btn-primary close-dialog">Отмена</button>
                <button id="submit" class="btn-success  close-dialog" onclick="javascript:void(0);">Выполнить</button>
            </div>
        </div>

    </div>
    <!--/.fluid-container-->

    <!-- Le javascript
   ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
