<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>IRIS-X - Система умный дом</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IRIS-X Smart Home">
    <meta name="author" content="Nikolay Viguro">
    <meta itemprop="image" content="/static/ico/favicon.ico">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
        padding-top: 60px;
        padding-bottom: 40px;
        }
        .sidebar-nav {
        padding: 9px 0;
        }
    </style>
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/pnot.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/pnot.js"></script>

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">IRIS-X</a>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Версия: <b>$version</b>
                </p>
                <ul class="nav">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/cams.html">Камеры</a></li>
                    <li><a href="/schedule.html" class="active">Расписание</a></li>
                    <li><a href="/devices.html">Устройства</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Планировщик</li>
                    <li class="active"><a href="#">Обзор</a></li>
                    <li><a href="#">Управление заданиями</a></li>
                    <li><a href="#">Логи</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">

            <div class="row-fluid">

                <p>

                <div id="alert-area"></div>

                </p>

                <div class="span4">
                    <h2>В разработке</h2>

                    <p>

                    </p>

                </div>


            </div>
            <!--/span-->
        </div>
        <!--/row-->

        <hr>

    </div>
    <!--/.fluid-container-->

    <!-- Le javascript
   ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
