<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="null" threshold="null">

    <appender class="org.apache.log4j.ConsoleAppender" name="STDOUT">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] (%c{2}) - %m%n"/>
        </layout>
    </appender>

    <!-- Provide warnings to standard output -->
    <logger additivity="true" name="org.apache.qpid">
        <level value="off"/>
    </logger>

    <!-- Enable info messages for the status-logging hierarchy -->
    <logger additivity="true" name="qpid.message">
      <level value="off"/>
    </logger>

    <!-- Subscription state may toggle frequently for clients with low prefetch
    so switch off this operational logging by default-->
    <logger additivity="true" name="qpid.message.subscription.state">
      <level value="off"/>
    </logger>

    <!-- Enable log messages for the queue notifications -->
    <logger additivity="true" name="org.apache.qpid.server.queue.NotificationCheck">
      <level value="off"/>
    </logger>

    <!-- Set the commons logging that the XML parser uses to WARN, it is very chatty at debug -->
    <logger name="org.apache.commons">
        <level value="off"/>
    </logger>

    <root>
        <priority value ="debug" />
        <appender-ref ref="STDOUT" />
    </root>

</log4j:configuration>
